// !!! BINARY PROPERTY LIST WARNING !!!
//
// The pretty-printed property list below has been created
// from a binary version on disk and should not be saved as
// the ASCII format is a subset of the binary representation!
//
{	APV = "1487";
	MLRS = "74";
	UAV = "21";
	aircraft = "96";
	anti = "44";
	artillery = "230";
	fuel = "60";
	helicopters = "118";
	boats = "3";
	personnel = "14700";
	tanks = "476";
	vehicles = "947";
	Date = "20.03.2022";
}
