// !!! BINARY PROPERTY LIST WARNING !!!
//
// The pretty-printed property list below has been created
// from a binary version on disk and should not be saved as
// the ASCII format is a subset of the binary representation!
//
{	APV = "2610";
	MLRS = "163";
	UAV = "303";
	aircraft = "194";
	anti = "81";
	artillery = "491";
	helicopters = "155";
	boats = "10";
	personnel = "24500";
	tanks = "1077";
	vehicles = "1867";
	special = "38";
	mobile = "4";
	cruise = "87";
	Date = "04.05.2022";
	
}
