// !!! BINARY PROPERTY LIST WARNING !!!
//
// The pretty-printed property list below has been created
// from a binary version on disk and should not be saved as
// the ASCII format is a subset of the binary representation!
//
{	APV = "2519";
	MLRS = "152";
	UAV = "271";
	aircraft = "194";
	anti = "80";
	artillery = "459";
	helicopters = "155";
	boats = "8";
	personnel = "23800";
	tanks = "1048";
	vehicles = "1824";
	special = "38";
	mobile = "4";
	cruise = "84";
	Date = "02.05.2022";
	
}
